/* CSS CUSTOMIZADO NAVBAR */


header {
    .navbar {
        .container {
            .navbar-brand {
                h1 {
                    font-size: 32px;
                }
            }

            .form-inline {
                flex: 1;
                max-width: 600px;
            }

            .nav-link {

                &.active,
                &.show {
                    border-top: 5px solid $btn-primary-color;
                    border-bottom: 5px solid $btn-primary-color;
                }
            }

            .navbar-toggler {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%); 
        opacity: 0; 
    }
    to {
        transform: translateX(0); 
        opacity: 1; 
    }
}
