/* CAROUSEL IMAGENES */
/* GRID DE ACCESO - PRODUCTOS */
/* GRILLA DE PRODUCTOS */
/* FORM CONTACTO */
/* GRILLA DE GUIAS DE SIEMBRA */
main {
    .carousel {
        .carousel-inner {
            .carousel-item {              
                img {
                    height: auto;
                }
            }

        }
    }

    .nav {
        a {
            &:hover {
                color: $btn-hover-color !important;
            }
        }
    }

    .card {
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;

        img {
            height: auto;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        &:hover {
            img {
                transform: scale(1.05);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
        }

        .card-body {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: opacity 0.3s ease;

            .btn {
                background-color: $btn-primary-color;

                &:hover {
                    background-color: $btn-hover-color;
                }
            }
        }

    }

    .btn {
        background-color: $btn-primary-color;

        &:hover {
            background-color: $btn-hover-color;
        }
    }

}