$font-family: "Gravitype-Minigap";
$btn-primary-color: #7AA93C;
$btn-hover-color: #73aa24;
$map-size: 200px;

@font-face {
    font-family: "Gravitype-Minigap";
    src: url(../fonts/Gravitype-Minigap.otf)
}