a {
    text-decoration: none;
}

body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    color: #333;
    font-family: $font-family;
    // display: flex;
    // flex-direction: column;
    @include flexbox(column, center, normal);
    min-height: 100vh;
    margin: 0;
}

/* OPACIDAD FONDO */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    @include dimensions(100%, 100%);
    background: rgba(255, 255, 255, 0.6);
    z-index: -1;
}

/* ICONO WHATSAPP */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    .whatsapp-icon {
        @include dimensions(60px, 60px);
        background-color: #25D366;
        border-radius: 50%;
        @include flexbox(row, center, center);
        animation-name: tada;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
    }

}

.swal-custom-confirm {
    background-color: $swal-confirm-color !important;

    &:hover {
        background-color: $swal-confirm-hover-color !important;
    }
}



.modal {
    .modal-dialog {
        .modal-content {
            .modal-footer {
                .btn-primary {
                    background-color: $btn-primary-color;
                    border-color: $btn-primary-color;
                    &:hover {
                        background-color: $btn-hover-color;
                    }
                }
            }
        }
    }
}