/* FOOTER */
.footer {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards; 
    
    .nav {
        a {
            margin-bottom: 10px;
            &:hover {
                color: $btn-hover-color !important;
            }
        }
    }

    .social-links {
        a {
            font-size: 24px;
            margin-right: 10px;
            &:hover {
                color: $btn-hover-color !important;
            }
        }
    }

    .map {
        height: $map-size;
    }
}

