/* CSS CUSTOMIZADO NAVBAR */


header {
    .navbar {
        .container {
            .navbar-brand {
                h1 {
                    font-size: 32px;
                }

                .plant {
                    display: inline-block;
                }

            }

            .custom-badge {
                @include badge-styles($badge-bg-color, $badge-text-color);
            }

            .form-inline {
                flex: 1;
                max-width: 600px;
            }

            .nav-link {

                &.active,
                &.show {
                    border-top: 5px solid $btn-primary-color;
                    border-bottom: 5px solid $btn-primary-color;
                }
            }

            .navbar-toggler {
                &:focus {
                    box-shadow: none;
                }
            }

            #usuarioDropdown {
                .btn-outline-primary {
                    border-color: $btn-primary-color;
                    color: $btn-primary-color;

                    &:hover {
                        background-color: $btn-hover-color;
                        color: #FFF;
                    }
                }

                .btn.dropdown-toggle.show {
                    background-color: $btn-primary-color;
                    color: #FFF;
                }

                .dropdown-item.active,
                .dropdown-item:active {
                    background-color: #FFF;
                    color: $btn-primary-color;
                }
            }
        }
    }

}