/* CSS CUSTOMIZADO NAVBAR */


header {
    .navbar {
        .container {
            .navbar-brand {
                h1 {
                    font-size: 32px;
                }

                .plant {
                    font-size: 35px;
                    display: inline-block;
                    animation: subtleShadow 5s ease-in-out infinite;
                    color: #2d6a4f;
                }

            }

            .form-inline {
                flex: 1;
                max-width: 600px;
            }

            .nav-link {

                &.active,
                &.show {
                    border-top: 5px solid $btn-primary-color;
                    border-bottom: 5px solid $btn-primary-color;
                }
            }

            .navbar-toggler {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

}
