$font-family: "Gravitype-Minigap";
$btn-primary-color: #7AA93C;
$btn-hover-color: #5D8A2B;
$map-size: 200px;
$badge-bg-color: #7AA93C; 
$badge-text-color: #fff;        
// Media queries
$breakpoint-md: 767px;
$breakpoint-lg: 992px;

@font-face {
    font-family: "Gravitype-Minigap";
    src: url(../fonts/Gravitype-Minigap.otf)
}